
<h1>Welcome to my Rails site where I promote my buddy's site</h1>
<p>
	You've found the site where I'm learning rails and promoting my buddy
	<%= link_to "Philly the cat's", "http://philipdesmedt.com/" %>
	website
	<%= link_to "Ignite Lab", "http://www.ignitelab.net/" %>
</p>
<p>
	<%= link_to "Check it out", "http://www.ignitelab.net/" %>
</p>

